table {
  width: 100%;
}

.img {
  width: 150px;
  height: auto;
  margin: 5px 0;
  text-align: center;
}

.mat-column-id {
  width: 2% !important;
}

.mat-column-title {
  width: 8% !important;
}

.mat-column-description {
  width: 35% !important;
}

.mat-column-price {
  width: 5% !important;
  text-align: center;
}

.mat-column-discountPercentage {
  width: 5% !important;
  text-align: center;
}

.mat-column-rating {
  width: 5% !important;
  text-align: center;
}

.mat-column-stock {
  width: 5% !important;
  text-align: center;
}

.mat-column-brand {
  width: 10% !important;
  text-align: center;
}

.mat-column-category {
  width: 5% !important;
  text-align: center;
}

.mat-column-thumbnail {
  width: 10% !important;
  text-align: center;
}

.mat-column-satisAdedi {
  width: 5% !important;
  text-align: center;
}

.mat-column-detail {
  width: 5% !important;
  text-align: center;
}
